<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="style.css">
   <title>ESJ</title>
</head>
<body>
   <div class="content">
      <aside>
         "ola mundo"
      </aside>
      <main>

         <button id="saveButton">Save</button>
         <button id="addButton">Add</button>
      </main>
   </div>
   <script src="script.js"></script>
</body>
</html>